TP_AIEAR/EarContent/resources/ordenDespachoTypes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns1="http://logistica.interfaces/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IRecibirOrdenDespachoWs" targetNamespace="http://logistica.interfaces/">
  <wsdl:types>
<xs:schema xmlns:tns="http://logistica.interfaces/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://logistica.interfaces/" version="1.0">

  <xs:element name="recibirOrdenDespacho" type="tns:recibirOrdenDespacho"/>

  <xs:element name="recibirOrdenDespachoResponse" type="tns:recibirOrdenDespachoResponse"/>

  <xs:element name="resultado" type="tns:respuestaGenerica"/>

  <xs:complexType name="recibirOrdenDespacho">
    <xs:sequence>
      <xs:element minOccurs="0" name="despacho" type="tns:orden-despacho"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orden-despacho">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_orden_despacho" type="xs:string"/>
      <xs:element minOccurs="0" name="id_orden_compra" type="xs:int"/>
      <xs:element minOccurs="0" name="id_logistica" type="xs:string"/>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="id-articulo" type="xs:string"/>
      <xs:element minOccurs="0" name="cantidad" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recibirOrdenDespachoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respuestaGenerica"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="respuestaGenerica">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="recibirOrdenDespachoResponse">
    <wsdl:part element="ns1:recibirOrdenDespachoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirOrdenDespacho">
    <wsdl:part element="ns1:recibirOrdenDespacho" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IRecibirOrdenDespachoWs">
    <wsdl:operation name="recibirOrdenDespacho">
      <wsdl:input message="ns1:recibirOrdenDespacho" name="recibirOrdenDespacho">
    </wsdl:input>
      <wsdl:output message="ns1:recibirOrdenDespachoResponse" name="recibirOrdenDespachoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>