TP_AIEAR/EarContent/resources/ventas.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webService.monitor.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSProcVentaBeanService" targetNamespace="http://webService.monitor.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService.monitor.com/" elementFormDefault="unqualified" targetNamespace="http://webService.monitor.com/" version="1.0">

  <xs:element name="procesarCarrito" type="tns:procesarCarrito"></xs:element>

  <xs:element name="procesarCarritoResponse" type="tns:procesarCarritoResponse"></xs:element>

  <xs:element name="procesarVenta" type="tns:procesarVenta"></xs:element>

  <xs:element name="procesarVentaResponse" type="tns:procesarVentaResponse"></xs:element>

  <xs:complexType name="procesarCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:voCarrito"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voCarrito">
    <xs:sequence>
      <xs:element name="idBusqueda" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="procesarCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="procesarVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:voVenta"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente"></xs:element>
      <xs:element name="codigoVenta" type="xs:int"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="collectionItems" nillable="true" type="tns:voItemVenta"></xs:element>
      <xs:element minOccurs="0" name="estado" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime"></xs:element>
      <xs:element name="idPortal" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="apelido" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="coordenada" type="xs:string"></xs:element>
      <xs:element name="dni" type="xs:long"></xs:element>
      <xs:element name="idCliente" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voItemVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="codigo" type="xs:int"></xs:element>
      <xs:element name="precio" type="xs:float"></xs:element>
      <xs:element minOccurs="0" name="producto" type="tns:voProducto"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voProducto">
    <xs:sequence>
      <xs:element name="codigo" type="xs:long"></xs:element>
      <xs:element name="precio" type="xs:float"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="procesarVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="procesarVentaResponse">
    <wsdl:part element="tns:procesarVentaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="procesarCarritoResponse">
    <wsdl:part element="tns:procesarCarritoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="procesarCarrito">
    <wsdl:part element="tns:procesarCarrito" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="procesarVenta">
    <wsdl:part element="tns:procesarVenta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSProcVentaBean">
    <wsdl:operation name="procesarCarrito">
      <wsdl:input message="tns:procesarCarrito" name="procesarCarrito">
    </wsdl:input>
      <wsdl:output message="tns:procesarCarritoResponse" name="procesarCarritoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarVenta">
      <wsdl:input message="tns:procesarVenta" name="procesarVenta">
    </wsdl:input>
      <wsdl:output message="tns:procesarVentaResponse" name="procesarVentaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSProcVentaBeanServiceSoapBinding" type="tns:WSProcVentaBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="procesarCarrito">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="procesarCarrito">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="procesarCarritoResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarVenta">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="procesarVenta">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="procesarVentaResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSProcVentaBeanService">
    <wsdl:port binding="tns:WSProcVentaBeanServiceSoapBinding" name="WSProcVentaBeanPort">
      <soap:address location="http://localhost:8080/MonitoreoEJB/WSProcVentaBean"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>